



@media (min-width: 1200px)
.container {
width:960px;


}
#welcome {
	margin-top: 20px;
	color:#eef;
}
.welcome-text {
	color:#fff;
}
.welcome-text b {
	color:#fc9300;
}



/******* header*********/

#top-links {
    margin-top: 27px;

}
#top-links a {
	
	padding:10px;
	color:#ed910f;
	margin-right:25px
}
#top-links>a:hover {
	text-decoration: none;
	color:#fff;
}

#top-bar {
    background-color: #000;
    border-bottom: 3px solid #fc970b;
    height:60px;
}
.top-email {
	line-height: 30px;
	color:#fff;
	margin-top:15px;
	width: 100px;
}

#welcome-message {
	color:#fff;
	margin-top: 25px;
}

#welcome-message a {
	background-color: #fc9300;
	color:#fff;
	padding: 15px;
	text-transform: capitalize;
}
#welcome-message a:hover {
text-decoration: none;
color:#000;

}
.welcome-text a {
	color: #fc9300;
}
.welcome-text>a:hover {
	color:#eed;
}
/******* cart module ***********/

.heading h4 span{
padding-left: 10px;
text-shadow: 0 1px 2px rgba(0,0,0,0.3);

}
#text-warning {
	text-shadow: 0 1px 2px rgba(0,0,0,0.3);
	font-weight: bold;
}



/****** currency module **********/

#currency{
	color:#fff;
}

#search-field {
	width: 405px;
border: 1px solid #666;
background: #fff;
font-style: normal;
margin-left:5px;
font-size: 12px;
border-radius: 6px 0 0 6px;
box-shadow: 0 1px 3px 0 #eaeaea inset;
}
li {
	list-style: none;

}
#search ul li {
	display: inline;
}
#search {
	margin-top: 8px;
}
/******** menu bar *************/

#menu-bar {
	_background: #eed;
	height: 50px;
	margin-bottom: 5px;
}














/********** breadcrumb **************/


.breadcrumb a {

}

/*********** all button **********/


.btn-warning a {
	color:#fff;
}
.btn-warning a:hover {
	text-decoration: none;
}



/*********** shopping cart logo ***********/



#shopping-cart-logo {
	padding-right: 5px;
	color:#fff;

}





/************* checkout sucess *************/
.right a {
	color:#fff;
}



/************ checkout page ****************/

#buttons .center a {
	color:#fff;
}

#checkout-content {
	padding: 0 20px 0 20px;
}

#login a {
	color:black;
}

/************ product page *******************/

.description h3 {
	font-size: 16px!important;
line-height: 1.3!important;
font-family: Arial,sans-serif;
text-rendering: optimizeLegibility;
margin-top: 0px;
}
.breadcrumb1 {
	background-color: none;
	padding:10px; 
}
#socialite {
	float:right;
}
#social-icon li {
	display: inline;
}

#review-text {
	color: #000;
}
.links a {
	color:#000;
}
#shipping-text {
	font-size: 12px;
}
#saving {
	position: absolute;
top: 150px;
left: 16px;
width: 141px;
height: 47px;
background: url(../image/save.png) no-repeat;
z-index: 999;

line-height: 35px;
font-weight: bold;
color: #fff;
font-size: 18px;
text-indent: 13px;
}
#nav-tabs {
	border:none;
}
#plus-minus {
	width:30px;
	height: auto;
}

.product-grid .image img:hover {
	border:1px solid #f0ad4e;
}
/*** address **********/

.left a {
color: #fff;
}
.address-text a {
	color:#fff;
}
